# This workflow will test the java package against Sideko's Mock Servers
# Tests will run automatically on a push to `main` or a pull request event
#
# MAINTENANCE:
#   - Workflow triggers `on: ...` can be edited and Sideko will maintain the `jobs: ...`
#   - Alternatively, if you wish to fully customize the workflow, you can clone this
#     file (save under a different filepath to avoid clashing) and either disable this workflow
#     via the triggers or remove `github` from the `ci_cd` options in the SDK config.
#
name: Run Tests

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - "11"
          - "17"
          - "18"
          - "19"
          - "20"
          - "21"
    steps:
      #----------------------------------------------
      #  -----  checkout & setup java  -----
      #----------------------------------------------
      - name: checkout repository
        uses: actions/checkout@v4
      - name: setup java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java-version }}
          architecture: x64
      - name: setup gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "8.14"
      #----------------------------------------------
      #  -----  run tests  -----
      #----------------------------------------------
      - name: test
        run: gradle test
